rss {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  margin-top: 5px;
}

title, link, description, item{
  display:block;
}

item {
  list-style-type:circle;
  background-color: #C8252B;
  padding: 10px;
}
